<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cloud Main wyszukiwarka mieszkań</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="cm-box-main">
        <nav class="body-nav-main flex">
            <div class="nav-main flex">
                <div class="nav-left ">
                    <a asp-action="index"><img src="/img/logo.png"></a>
                </div>
                <div class="nav-right flex">
                    <div class="nav-menu flex">
                        <a asp-page="" class="menu-a">Ogłoszenia</a>
                        <a href="~/regulamin" class="menu-a">Regulamin</a>
                        <a href="~/privacy" class="menu-a">Polityka Prywatności</a>
                        <a asp-page="/home" class="menu-a">Kontakt</a>
                        <a asp-page="/home" class="menu-a">O nas</a>
                        
                    </div>


                    <partial name="_LoginPartial" />
           

                </div>
                    <div class="nav-mobile">
                        <div class="nav-menu-log flex">
                            <a asp-action="signup" class="menu-log-input log-join">Dołącz</a>
                            <a asp-action="signin" class="menu-log-input log-login">Zaloguj się</a>
                        </div>
                        <div class="wrappers">
                            <div class="navTrigger">
                                <i></i><i></i><i></i>
                            </div>
                        </div>
                        <div class="nav-menu-mobile">
                            <div class="nav-menu flex">
                                <a asp-action="home" class="menu-a">Ogłoszenia</a>
                                <a asp-action="home" class="menu-a">Regulamin</a>
                                <a asp-action="home" class="menu-a">Kontakt</a>
                                <a asp-action="home" class="menu-a">O nas</a>
                                <a asp-action="home" class="menu-a">Poradnik</a>
                            </div>
                          <div class="nav-menu-log flex">
                                <a asp-action="signup" class="menu-log-input log-join">Dołącz</a>
                                <a asp-action="signin" class="menu-log-input log-login">Zaloguj się</a>
                            </div>


                        </div>
                    </div>

                </div>
            </nav>

            @RenderBody()

        </div>
        <footer class="cm-footer">
            <div class="cm-footer-box flex">
                <div class="cm-footer-top flex">
                    <div class="footer-top-more flex">
                        <span class="footer-top-box-more footer-top-span">
                            CloudMain.pl
                        </span>
                        <div class="footer-top-box-more">
                            <a class="footer-a" asp-page="/aboutus">  O nas</a>
                        </div>
                        <div class="footer-top-box-more">
                            <a class="footer-a" href="#">  Cennik</a>
                        </div>
                        <div class="footer-top-box-more">
                            <a class="footer-a" asp-page="/regulamin">  Regulamin</a>
                        </div>
                        <div class="footer-top-box-more">
                            <a class="footer-a" href="#"> Ustawienia plików cookie</a>
                        </div>
                        <div class="footer-top-box-more">
                            <a class="footer-a" asp-page="/privacy"> Polityka prywatności</a>
                        </div>
                    </div>
                    <div class="footer-top-more flex">
                        <span class="footer-top-box-more footer-top-span">
                            Usługi
                        </span>
                        <div class="footer-top-box-more">
                            <a class="footer-a" href="#">   Dodaj ogłoszenie</a>
                        </div>
                        <div class="footer-top-box-more">
                            <a class="footer-a" href="#">  CloudMain ADS</a>
                        </div>
                        <div class="footer-top-box-more">
                            <a class="footer-a" href="#"> Regulamin</a>
                        </div>

                        <div class="footer-top-box-more">
                            <a class="footer-a" href="#">Wzory umów</a>
                        </div>


                    </div>
                    <div class="footer-top-more flex">
                        <span class="footer-top-box-more footer-top-span">
                            Szybkie Linki
                        </span>
                        <div class="footer-top-box-more">
                            <a class="footer-a" href="#"> Zarządzaj mieszkaniami</a>
                        </div>
                        <div class="footer-top-box-more">
                            <a class="footer-a" href="#"> Dodaj ogłoszenie</a>
                        </div>
                        <div class="footer-top-box-more">
                            <a class="footer-a" href="#"> Usuń ogłoszenie</a>
                        </div>
                        <div class="footer-top-box-more">
                            <a class="footer-a" href="#">Zobacz ogłoszenia</a>
                        </div>

                    </div>
                    <div class="footer-top-more flex">
                        <span class="footer-top-box-more footer-top-span">
                            Menu jeden wieksze
                        </span>
                        <div class="footer-top-box-more">
                            jeden dwa trzy cztery
                        </div>
                        <div class="footer-top-box-more">
                            jeden dwa trzy cztery
                        </div>
                        <div class="footer-top-box-more">
                            jeden dwa trzy cztery
                        </div>
                        <div class="footer-top-box-more">
                            jeden dwa trzy cztery
                        </div>
                        <div class="footer-top-box-more">
                            jeden dwa trzy cztery
                        </div>
                    </div>
                </div>

            </div>
            <div class="cm-footer-down">
                <div class="cm-footer-down-sd flex">
                    <div class="cm-footer-down-left">
                        <a class="flex" asp-action="index"><img src="~/img/logo-footer.png" /></a>
                    </div>
                    <div class="cm-footer-down-right flex">
                        <span class="cm-footer-down-span">   © 2021-2022 CloudMain.pl</span>
                        <span class="cm-footer-down-span">Korzystanie z serwisu oznacza akceptację regulaminu.</span>
                    </div>
                </div>
            </div>
        </footer>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="/js/script.js" asp-append-version="true"></script>
        <script src="~/js/script.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>
