@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {

        <div class="nav-suces-log">

            <a class="succes-log" asp-area="Identity" asp-page="/Account/Manage/Index">
                <span class="succes-name">@UserManager.GetUserName(User)</span>
                <i class="fas fa-user succes-icon"></i>
            </a>


        </div>

        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {

        <div class="nav-menu-log flex">
            <a href="/Identity/Account/Register" class="menu-log-input log-join">Dołącz</a>
            <a href="/identity/account/login" class="menu-log-input log-login">Zaloguj się</a>
        </div>
    }




