@page
@model CloudMainASP.Views.Home.Index1Model
@{
}
<div class="offers-mainpage">
    <div class="slider">
        <div class="">zdjęcia</div>
        <div class="">zdjęcia</div>
        <div class="">zdjęcia</div>
    </div>
    <div class="">Tytul</div>
    <div class="">Opis</div>
    <div class="">Kwota</div>
    <div class="">EMAIL</div>
    <div class="">nr telefonu</div>
    <div class="">Poczta</div>
    <div class="">Ilica</div>
    <div class="">MMiasto</div>
    <div class="">Nr domu</div>

    <div class="">m2 kwadratoe</div>
    <div class="">pietro</div>
    <div class="">dostepnosc od reki</div>
    <div class="">data dodania</div>
    <div class="">do negocjiacji</div>
    <div class="">ilosc pieter</div>
    <div class="">data powstania</div>
    <div class="">ostatnia aktualizacjia</div>


</div>