@{ ViewData["Title"] = "Strona Główna"; }

<div class="body-post">
    <div class="cm-search-content">
        <form>
            <div class="find-content flex">
                <span class="find-text">
                    <i class="fas fa-search-location"></i>  Wyszukaj swoją przyszłą inwestycje
                </span>
                <input class="find-content-button statform" type="text" />
            </div>
            <div class="find-content-two flex">
                <div class="find-content-h-main flex">
                    <span class="find-content-h">
                        Czego szukasz?
                    </span>
                    <select class="statform">
                        <option>Mieszkanie</option>
                    </select>
                </div>
                <div class="find-content-h-main flex">
                    <span class="find-content-h">
                        Rodzaj
                    </span>
                    <select class="statform">
                        <option>Na sprzedaż</option>
                    </select>
                </div>
                <div class="find-content-h-main flex">
                    <span class="find-content-h">
                        Liczba pokoi
                    </span>
                    <input class="statform nmpok" type="number" value="1" />
                </div>
            </div>











            <div class="find-content-two flex">










                <div class="cm-find-wrapper iw flex">
                    <span class="find-content-h">
                        Cena
                    </span>
                    <div class="cm-find-price-input ia flex">
                        <div class="cm-find-field flex">
                            <span class="cm-find-span">od</span>
                            <input type="number" class="input-min statform ic" value="2500">

                        </div>

                        <div class="cm-find-field flex">
                            <span class="cm-find-span">do</span>
                            <input type="number" class="input-max statform ic" value="7500">

                        </div>
                    </div>
                    <div class="cm-find-slider ie">
                        <div class="cm-find-progress ie"></div>
                    </div>
                    <div class="cm-find-range-input if flex">
                        <input type="range" class="range-min ir" min="0" max="10000" value="2500" step="100">
                        <input type="range" class="range-max ir" min="0" max="10000" value="7500" step="100">
                    </div>
                </div>

                <div class="cm-find-wrapper-two iw flex">
                    <span class="find-content-h">
                        Powierzchnia
                    </span>
                    <div class="cm-find-price-input-two ia flex">
                        <div class="cm-find-field-two flex">
                            <span class="cm-find-span-two">Od</span>
                            <input type="number" class="input-min-two statform ic" value="20">
                            <span class="cm-find-span-two"> m2 </span>
                        </div>

                        <div class="cm-find-field-two  flex">
                            <span class="cm-find-span-two"> do </span>
                            <input type="number" class="input-max-two statform ic" value="9999">
                            <span class="cm-find-span-two"> m2 </span>
                        </div>
                    </div>
                    <div class="cm-find-slider-two ie">
                        <div class="cm-find-progress-two ie"></div>
                    </div>
                    <div class="cm-find-range-input-two if flex">
                        <input type="range" class="range-min-two ir" min="0" max="9999" value="20" step="100">
                        <input type="range" class="range-max-two ir" min="0" max="9999" value="8000" step="100">
                    </div>
                </div>











            </div>

            <div class="cm-find-more flex">
                <span class="cm-find-more-span accordion">
                    <i class="fas fa-sliders-h icon-blue"></i>  Więcej filtrów <i class="fas fa-chevron-down icon-blues"></i>
                </span>
                <div class="cm-find-more-hide panel flex">
                    <div class="cm-find-more-hide-one flex">
                        <span class="cm-find-more-spans">
                            Cena za m2
                        </span>
                        <div class="cm-find-more-hide-ones">
                            od <input class="cm-find-input-number" type="number" /> zł/m2 do <input class="cm-find-input-number" type="number" />
                        </div>
                    </div>
                    <div class="cm-find-mores-hide flex">
                        <div class="cm-find-mores-box flex">
                            <div class="cm-find-mores flex">
                                <span class="cm-find-more-spans">
                                    Rodzaj zabudowy
                                </span>
                                <input class="statform" type="text" />
                            </div>
                            <div class="cm-find-mores flex">
                                <span class="cm-find-more-spans">
                                    Piętro
                                </span>
                                <input class="statform" type="number" />
                            </div>
                            <div class="cm-find-mores flex">
                                <span class="cm-find-more-spans">
                                    Numer Oferty
                                </span>
                                <input class="statform" type="text" />
                            </div>
                        </div>
                        <div class="cm-find-add flex">
                            <span class="cm-find-more-spans">Dodatkowe opcje </span>
                            <div class="cm-find-lokar">
                                <div class="cm-find-add-columns flex">
                                    <div class="cm-find-columns-down">
                                        <input name="balkon" type="checkbox" />
                                        <label for="balkon"> balkon</label><br>
                                    </div>
                                    <div class="cm-find-columns-down">
                                        <input name="pomieszczenie" type="checkbox" />
                                        <label for="pomieszczenie"> pom. użytkowe</label><br>
                                    </div>
                                    <div class="cm-find-columns-down">
                                        <input name="garaz" type="checkbox" />
                                        <label for="garaz"> garaż/miejsce parkingowe</label><br>
                                    </div>
                                    <div class="cm-find-columns-down">
                                        <input name="piwinica" type="checkbox" />
                                        <label for="piwnica"> piwnica</label><br>
                                    </div>
                                    <div class="cm-find-columns-down">
                                        <input name="ogrodek" type="checkbox" />
                                        <label for="ogrodek"> ogredek</label><br>
                                    </div>
                                </div>
                                <div class="cm-find-add-columns flex">
                                    <div class="cm-find-columns-down">
                                        <input name="taras" type="checkbox" />
                                        <label for="taras"> taras</label><br>
                                    </div>
                                    <div class="cm-find-columns-down">
                                        <input name="winda" type="checkbox" />
                                        <label for="winda"> winda</label><br>
                                    </div>
                                    <div class="cm-find-columns-down">
                                        <input name="dwupoziomowe" type="checkbox" />
                                        <label for="dwupoziomowe"> dwupoziomowe</label><br>
                                    </div>
                                    <div class="cm-find-columns-down">
                                        <input name="kuchnia" type="checkbox" />
                                        <label for="kuchnia"> oddzielna kuchnia</label><br>
                                    </div>
                                    <div class="cm-find-columns-down">
                                        <input name="klimatyzacja" type="checkbox" />
                                        <label for="klimatyzacja"> klimatyzacja</label><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" class="submit-filter" value="SZUKAJ" />
            </div>



        </form>
        <script>var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
            }</script>
    </div>
    <div class="body-post-premium flex">
        <h4 class="h2-promo">Promowane ogłoszenia</h4>
        <div class="post-premium-m flex">
            <div class="posts-premium">
                <div class="posts-premium-black">
                    <div class="posts-premium-black-bg"></div>
                    <div class="posts-premium-img">
                        <img class="posts-img-up" src="img/prom/img1.jpg">
                    </div>
                </div>
                <div class="posts-premium-info flex">
                    <div class="posts-premium-info-left flex">
                        <span class="premium-top ptd">700 000zł 155m2 6 pokoi</span>
                        <span class="premium-down"><img class="icoblue" src="img/icon/pin.png">Bibice Kasztanowa 6</span>
                    </div>
                    <div class="posts-premium-info-right flex">
                        <img class="ico-heart" src="img/icon/heart.png">
                    </div>
                </div>
            </div>
            <div class="posts-premium">
                <div class="posts-premium-black">
                    <div class="posts-premium-black-bg"></div>
                    <div class="posts-premium-img">
                        <img class="posts-img-up" src="img/prom/img2.jpg">
                    </div>
                </div>
                <div class="posts-premium-info flex">
                    <div class="posts-premium-info-left flex">
                        <span class="premium-top ptd">700 000zł 155m2 6 pokoi</span>
                        <span class="premium-down"><img class="icoblue" src="img/icon/pin.png">Bibice Kasztanowa 6</span>
                    </div>
                    <div class="posts-premium-info-right flex">
                        <img class="ico-heart" src="img/icon/heart.png">
                    </div>
                </div>
            </div>
            <div class="posts-premium">
                <div class="posts-premium-black">
                    <div class="posts-premium-black-bg"></div>
                    <div class="posts-premium-img">
                        <img class="posts-img-up" src="img/prom/img3.jpg">
                    </div>
                </div>
                <div class="posts-premium-info flex">
                    <div class="posts-premium-info-left flex">
                        <span class="premium-top ptd">700 000zł 155m2 6 pokoi</span>
                        <span class="premium-down"><img class="icoblue" src="img/icon/pin.png">Bibice Kasztanowa 6</span>
                    </div>
                    <div class="posts-premium-info-right flex">
                        <img class="ico-heart" src="img/icon/heart.png">
                    </div>
                </div>
            </div>
            <div class="posts-premium">
                <div class="posts-premium-black">
                    <div class="posts-premium-black-bg"></div>
                    <div class="posts-premium-img">
                        <img class="posts-img-up" src="img/prom/img4.jpg">
                    </div>
                </div>
                <div class="posts-premium-info flex">
                    <div class="posts-premium-info-left flex">
                        <span class="premium-top ptd">700 000zł 155m2 6 pokoi</span>
                        <span class="premium-down"><img class="icoblue" src="img/icon/pin.png">Bibice Kasztanowa 6</span>
                    </div>
                    <div class="posts-premium-info-right flex">
                        <img class="ico-heart" src="img/icon/heart.png">
                    </div>
                </div>
            </div>
            <div class="posts-premium">
                <div class="posts-premium-black">
                    <div class="posts-premium-black-bg"></div>
                    <div class="posts-premium-img">
                        <img class="posts-img-up" src="img/prom/img5.jpg">
                    </div>
                </div>
                <div class="posts-premium-info flex">
                    <div class="posts-premium-info-left flex">
                        <span class="premium-top ptd">700 000zł 155m2 6 pokoi</span>
                        <span class="premium-down"><img class="icoblue" src="img/icon/pin.png">Bibice Kasztanowa 6</span>
                    </div>
                    <div class="posts-premium-info-right flex">
                        <img class="ico-heart" src="img/icon/heart.png">
                    </div>
                </div>
            </div>
            <div class="posts-premium">
                <div class="posts-premium-black">
                    <div class="posts-premium-black-bg"></div>
                    <div class="posts-premium-img">
                        <img class="posts-img-up" src="img/prom/img6.jpg">
                    </div>
                </div>
                <div class="posts-premium-info flex">
                    <div class="posts-premium-info-left flex">
                        <span class="premium-top ptd">700 000zł 155m2 6 pokoi</span>
                        <span class="premium-down"><img class="icoblue" src="img/icon/pin.png">Bibice Kasztanowa 6</span>
                    </div>
                    <div class="posts-premium-info-right flex">
                        <img class="ico-heart" src="img/icon/heart.png">
                    </div>
                </div>
            </div>
            <div class="posts-premium">
                <div class="posts-premium-black">
                    <div class="posts-premium-black-bg"></div>
                    <div class="posts-premium-img">
                        <img class="posts-img-up" src="img/prom/img7.jpg">
                    </div>
                </div>
                <div class="posts-premium-info flex">
                    <div class="posts-premium-info-left flex">
                        <span class="premium-top ptd">700 000zł 155m2 6 pokoi</span>
                        <span class="premium-down"><img class="icoblue" src="img/icon/pin.png">Bibice Kasztanowa 6</span>
                    </div>
                    <div class="posts-premium-info-right flex">
                        <img class="ico-heart" src="img/icon/heart.png">
                    </div>
                </div>
            </div>
            <div class="posts-premium">
                <div class="posts-premium-black">
                    <div class="posts-premium-black-bg"></div>
                    <div class="posts-premium-img">
                        <img class="posts-img-up" src="img/prom/img8.jpg">
                    </div>
                </div>
                <div class="posts-premium-info flex">
                    <div class="posts-premium-info-left flex">
                        <span class="premium-top ptd">700 000zł 155m2 6 pokoi</span>
                        <span class="premium-down"><img class="icoblue" src="img/icon/pin.png">Bibice Kasztanowa 6</span>
                    </div>
                    <div class="posts-premium-info-right flex">
                        <img class="ico-heart" src="img/icon/heart.png">
                    </div>
                </div>
            </div>
            <div class="posts-premium mobile-premium">
                <div class="posts-premium-black">
                    <div class="posts-premium-black-bg"></div>
                    <div class="posts-premium-img">
                        <img class="posts-img-up" src="img/prom/img1.jpg">
                    </div>
                </div>
                <div class="posts-premium-info flex">
                    <div class="posts-premium-info-left flex">
                        <span class="premium-top ptd">700 000zł 155m2 6 pokoi</span>
                        <span class="premium-down"><img class="icoblue" src="img/icon/pin.png">Bibice Kasztanowa 6</span>
                    </div>
                    <div class="posts-premium-info-right flex">
                        <img class="ico-heart" src="img/icon/heart.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="cm-post-render">
        <div class="cm-post-render-more">
            <div class="cm-post-box">
                <img class="cm-post-box-img" src="~/img/prom/img1.jpg" />
            </div>
            <div class="cm-post-content">
                <div class="cm-post-content-left">
                    <span class="cm-post-content-left-main">
                        Mieszkanie w centrum Krakowa
                    </span>
                    <span class="cm-post-content-left-main post-private">
                        Sprzedawca: GPALUCH123 (osoba prywatna)
                    </span>
                    <spam class="cm-post-content-left-main">
                        Mieszkanie na sprzedaż: Kraków Bibice Kasztanowa 6
                    </spam>
                    <spam class="cm-post-content-left-main">
                        Liczba pokoi: <b>5</b>
                    </spam>
                    <spam class="cm-post-content-left-main">
                        Liczba metrów2: <b>80</b>
                    </spam>
                    <spam class="cm-post-content-left-main">
                        Dodatkowe opcje:
                    </spam>
                    <spam class="cm-post-content-left-main ">
                        <ol>
                            <li class="li-cm-post">garaż</li>
                            <li class="li-cm-post">ogród</li>
                        </ol>
                    </spam>
                    <span class="cm-post-content-left-main post-pad">
                        Cena: <b>350 000zł</b>
                    </span>
                </div>
                <div class="cm-post-content-right">
                    <img src="~/img/icon/heart.png" />

                </div>
            </div>
        </div>
        <div class="cm-post-render-more">
            <div class="cm-post-box">
                <img class="cm-post-box-img" src="~/img/prom/img2.jpg" />
            </div>
            <div class="cm-post-content">
                <div class="cm-post-content-left">
                    <span class="cm-post-content-left-main">
                        Mieszkanie w centrum Krakowa
                    </span>
                    <span class="cm-post-content-left-main post-private">
                        Sprzedawca: GPALUCH123 (osoba prywatna)
                    </span>
                    <span class="cm-post-content-left-main">
                        Mieszkanie na sprzedaż: Kraków Bibice Kasztanowa 6
                    </span>
                    <span class="cm-post-content-left-main">
                        Liczba pokoi: <b>5</b>
                    </span>
                    <span class="cm-post-content-left-main">
                        Liczba metrów2: <b>80</b>
                    </span>
                    <span class="cm-post-content-left-main">
                        Dodatkowe opcje:
                    </span>
                    <span class="cm-post-content-left-main ">
                        <li class="li-cm-post">garaż</li>
                        <li class="li-cm-post">ogród</li>
                    </span>
                    <span class="cm-post-content-left-main post-pad">
                        Cena: <b>350 000zł</b>
                    </span>
                </div>
                <div class="cm-post-content-right">
                    <img src="~/img/icon/heart.png" />

                </div>
            </div>
        </div>
        <div class="cm-post-render-more">
            <div class="cm-post-box">
                <img class="cm-post-box-img" src="~/img/prom/img3.jpg" />
            </div>
            <div class="cm-post-content">
                <div class="cm-post-content-left">
                    <span class="cm-post-content-left-main">
                        Mieszkanie w centrum Krakowa
                    </span>
                    <span class="cm-post-content-left-main post-private">
                        Sprzedawca: GPALUCH123 (osoba prywatna)
                    </span>
                    <span class="cm-post-content-left-main">
                        Mieszkanie na sprzedaż: Kraków Bibice Kasztanowa 6
                    </span>
                    <span class="cm-post-content-left-main">
                        Liczba pokoi: <b>5</b>
                    </span>
                    <span class="cm-post-content-left-main">
                        Liczba metrów2: <b>80</b>
                    </span>
                    <span class="cm-post-content-left-main">
                        Dodatkowe opcje:
                    </span>
                    <span class="cm-post-content-left-main ">
                        <li class="li-cm-post">garaż</li>
                        <li class="li-cm-post">ogród</li>
                    </span>
                    <span class="cm-post-content-left-main post-pad">
                        Cena: <b>350 000zł</b>
                    </span>
                </div>
                <div class="cm-post-content-right">
                    <img src="~/img/icon/heart.png" />

                </div>
            </div>
        </div>
        <div class="cm-post-render-more">
            <div class="cm-post-box">
                <img class="cm-post-box-img" src="~/img/prom/img4.jpg" />
            </div>
            <div class="cm-post-content">
                <div class="cm-post-content-left">
                    <span class="cm-post-content-left-main">
                        Mieszkanie w centrum Krakowa
                    </span>
                    <span class="cm-post-content-left-main post-private">
                        Sprzedawca: GPALUCH123 (osoba prywatna)
                    </span>
                    <span class="cm-post-content-left-main">
                        Mieszkanie na sprzedaż: Kraków Bibice Kasztanowa 6
                    </span>
                    <span class="cm-post-content-left-main">
                        Liczba pokoi: <b>5</b>
                    </span>
                    <span class="cm-post-content-left-main">
                        Liczba metrów2: <b>80</b>
                    </span>
                    <span class="cm-post-content-left-main">
                        Dodatkowe opcje:
                    </span>
                    <span class="cm-post-content-left-main ">
                        <li class="li-cm-post">garaż</li>
                        <li class="li-cm-post">ogród</li>
                    </span>
                    <span class="cm-post-content-left-main post-pad">
                        Cena: <b>350 000zł</b>
                    </span>
                </div>
                <div class="cm-post-content-right">
                    <img src="~/img/icon/heart.png" />

                </div>
            </div>
        </div>
        <div class="cm-post-render-more">
            <div class="cm-post-box">
                <img class="cm-post-box-img" src="~/img/prom/img5.jpg" />
            </div>
            <div class="cm-post-content">
                <div class="cm-post-content-left">
                    <span class="cm-post-content-left-main">
                        Mieszkanie w centrum Krakowa
                    </span>
                    <span class="cm-post-content-left-main post-private">
                        Sprzedawca: GPALUCH123 (osoba prywatna)
                    </span>
                    <span class="cm-post-content-left-main">
                        Mieszkanie na sprzedaż: Kraków Bibice Kasztanowa 6
                    </span>
                    <span class="cm-post-content-left-main">
                        Liczba pokoi: <b>5</b>
                    </span>
                    <span class="cm-post-content-left-main">
                        Liczba metrów2: <b>80</b>
                    </span>
                    <span class="cm-post-content-left-main">
                        Dodatkowe opcje:
                    </span>
                    <span class="cm-post-content-left-main ">
                        <li class="li-cm-post">garaż</li>
                        <li class="li-cm-post">ogród</li>
                    </span>
                    <span class="cm-post-content-left-main post-pad">
                        Cena: <b>350 000zł</b>
                    </span>
                </div>
                <div class="cm-post-content-right">
                    <img src="~/img/icon/heart.png" />

                </div>
            </div>
        </div>
        <div class="cm-post-render-more">
            <div class="cm-post-box">
                <img class="cm-post-box-img" src="~/img/prom/img6.jpg" />
            </div>
            <div class="cm-post-content">
                <div class="cm-post-content-left">
                    <span class="cm-post-content-left-main">
                        Mieszkanie w centrum Krakowa
                    </span>
                    <span class="cm-post-content-left-main post-private">
                        Sprzedawca: GPALUCH123 (osoba prywatna)
                    </span>
                    <span class="cm-post-content-left-main">
                        Mieszkanie na sprzedaż: Kraków Bibice Kasztanowa 6
                    </span>
                    <span class="cm-post-content-left-main">
                        Liczba pokoi: <b>5</b>
                    </span>
                    <span class="cm-post-content-left-main">
                        Liczba metrów2: <b>80</b>
                    </span>
                    <span class="cm-post-content-left-main">
                        Dodatkowe opcje:
                    </span>
                    <span class="cm-post-content-left-main ">
                        <li class="li-cm-post">garaż</li>
                        <li class="li-cm-post">ogród</li>
                    </span>
                    <span class="cm-post-content-left-main post-pad">
                        Cena: <b>350 000zł</b>
                    </span>
                </div>
                <div class="cm-post-content-right">
                    <img src="~/img/icon/heart.png" />

                </div>
            </div>
        </div>
        <div class="cm-post-render-more">
            <div class="cm-post-box">
                <img class="cm-post-box-img" src="~/img/prom/img7.jpg" />
            </div>
            <div class="cm-post-content">
                <div class="cm-post-content-left">
                    <span class="cm-post-content-left-main">
                        Mieszkanie w centrum Krakowa
                    </span>
                    <span class="cm-post-content-left-main post-private">
                        Sprzedawca: GPALUCH123 (osoba prywatna)
                    </span>
                    <span class="cm-post-content-left-main">
                        Mieszkanie na sprzedaż: Kraków Bibice Kasztanowa 6
                    </span>
                    <span class="cm-post-content-left-main">
                        Liczba pokoi: <b>5</b>
                    </span>
                    <span class="cm-post-content-left-main">
                        Liczba metrów2: <b>80</b>
                    </span>
                    <span class="cm-post-content-left-main">
                        Dodatkowe opcje:
                    </span>
                    <span class="cm-post-content-left-main ">
                        <li class="li-cm-post">garaż</li>
                        <li class="li-cm-post">ogród</li>
                    </span>
                    <span class="cm-post-content-left-main post-pad">
                        Cena: <b>350 000zł</b>
                    </span>
                </div>
                <div class="cm-post-content-right">
                    <img src="~/img/icon/heart.png" />

                </div>
            </div>
        </div>
        <div class="cm-post-render-more">
            <div class="cm-post-box">
                <img class="cm-post-box-img" src="~/img/prom/img8.jpg" />
            </div>
            <div class="cm-post-content">
                <div class="cm-post-content-left">
                    <span class="cm-post-content-left-main">
                        Mieszkanie w centrum Krakowa
                    </span>
                    <span class="cm-post-content-left-main post-private">
                        Sprzedawca: GPALUCH123 (osoba prywatna)
                    </span>
                    <span class="cm-post-content-left-main">
                        Mieszkanie na sprzedaż: Kraków Bibice Kasztanowa 6
                    </span>
                    <span class="cm-post-content-left-main">
                        Liczba pokoi: <b>5</b>
                    </span>
                    <span class="cm-post-content-left-main">
                        Liczba metrów2: <b>80</b>
                    </span>
                    <span class="cm-post-content-left-main">
                        Dodatkowe opcje:
                    </span>
                    <span class="cm-post-content-left-main ">
                        <li class="li-cm-post">garaż</li>
                        <li class="li-cm-post">ogród</li>
                    </span>
                    <span class="cm-post-content-left-main post-pad">
                        Cena: <b>350 000zł</b>
                    </span>
                </div>
                <div class="cm-post-content-right">
                    <img src="~/img/icon/heart.png" />

                </div>
            </div>
        </div>

    </div>-->
</div>