@page
@model CloudMainASP.Views.Home.kontaktModel
@{
}
<div class="kontakt-main">
    <form class="kontakt-form">
        <h4>NAPISZ DO NAS</h4>
        <input class="kontakt-input" type="text" placeholder="Email" />
        <input class="kontakt-input" type="text" placeholder="Tytuł wiadomości" />
       
        <textarea class="kontakt-input kontakt-mess"  placeholder="Tu napisz wiadomość..."></textarea>
        <input  class="kontakt-input kontat-send" type="submit" placeholder="WYŚLIJ" />


    </form>

</div>