@page
@model CloudMainASP.Views.Home.Index1Model
@{
}
<div class="cm-post-render">
    <div class="cm-post-render-more">
        <div class="cm-post-box">
            <img class="cm-post-box-img" src="~/img/prom/img1.jpg" />
        </div>
        <div class="cm-post-content">
            <div class="cm-post-content-left">
                <span class="cm-post-content-left-main">
                    Mieszkanie w centrum Krakowa
                </span>
                <span class="cm-post-content-left-main post-private">
                    Sprzedawca: GPALUCH123 (osoba prywatna)
                </span>
                <spam class="cm-post-content-left-main">
                    Mieszkanie na sprzedaż: Kraków Bibice Kasztanowa 6
                </spam>
                <spam class="cm-post-content-left-main">
                    Liczba pokoi: <b>5</b>
                </spam>
                <spam class="cm-post-content-left-main">
                    Liczba metrów2: <b>80</b>
                </spam>
                <spam class="cm-post-content-left-main">
                    Dodatkowe opcje:
                </spam>
                <spam class="cm-post-content-left-main ">
                    <ol>
                        <li class="li-cm-post">garaż</li>
                        <li class="li-cm-post">ogród</li>
                    </ol>
                </spam>
                <span class="cm-post-content-left-main post-pad">
                    Cena: <b>350 000zł</b>
                </span>
            </div>
            <div class="cm-post-content-right">
                <img src="~/img/icon/heart.png" />

            </div>
        </div>
    </div>
    <div class="cm-post-render-more">
        <div class="cm-post-box">
            <img class="cm-post-box-img" src="~/img/prom/img2.jpg" />
        </div>
        <div class="cm-post-content">
            <div class="cm-post-content-left">
                <span class="cm-post-content-left-main">
                    Mieszkanie w centrum Krakowa
                </span>
                <span class="cm-post-content-left-main post-private">
                    Sprzedawca: GPALUCH123 (osoba prywatna)
                </span>
                <span class="cm-post-content-left-main">
                    Mieszkanie na sprzedaż: Kraków Bibice Kasztanowa 6
                </span>
                <span class="cm-post-content-left-main">
                    Liczba pokoi: <b>5</b>
                </span>
                <span class="cm-post-content-left-main">
                    Liczba metrów2: <b>80</b>
                </span>
                <span class="cm-post-content-left-main">
                    Dodatkowe opcje:
                </span>
                <span class="cm-post-content-left-main ">
                    <li class="li-cm-post">garaż</li>
                    <li class="li-cm-post">ogród</li>
                </span>
                <span class="cm-post-content-left-main post-pad">
                    Cena: <b>350 000zł</b>
                </span>
            </div>
            <div class="cm-post-content-right">
                <img src="~/img/icon/heart.png" />

            </div>
        </div>
    </div>
    <div class="cm-post-render-more">
        <div class="cm-post-box">
            <img class="cm-post-box-img" src="~/img/prom/img3.jpg" />
        </div>
        <div class="cm-post-content">
            <div class="cm-post-content-left">
                <span class="cm-post-content-left-main">
                    Mieszkanie w centrum Krakowa
                </span>
                <span class="cm-post-content-left-main post-private">
                    Sprzedawca: GPALUCH123 (osoba prywatna)
                </span>
                <span class="cm-post-content-left-main">
                    Mieszkanie na sprzedaż: Kraków Bibice Kasztanowa 6
                </span>
                <span class="cm-post-content-left-main">
                    Liczba pokoi: <b>5</b>
                </span>
                <span class="cm-post-content-left-main">
                    Liczba metrów2: <b>80</b>
                </span>
                <span class="cm-post-content-left-main">
                    Dodatkowe opcje:
                </span>
                <span class="cm-post-content-left-main ">
                    <li class="li-cm-post">garaż</li>
                    <li class="li-cm-post">ogród</li>
                </span>
                <span class="cm-post-content-left-main post-pad">
                    Cena: <b>350 000zł</b>
                </span>
            </div>
            <div class="cm-post-content-right">
                <img src="~/img/icon/heart.png" />

            </div>
        </div>
    </div>
    <div class="cm-post-render-more">
        <div class="cm-post-box">
            <img class="cm-post-box-img" src="~/img/prom/img4.jpg" />
        </div>
        <div class="cm-post-content">
            <div class="cm-post-content-left">
                <span class="cm-post-content-left-main">
                    Mieszkanie w centrum Krakowa
                </span>
                <span class="cm-post-content-left-main post-private">
                    Sprzedawca: GPALUCH123 (osoba prywatna)
                </span>
                <span class="cm-post-content-left-main">
                    Mieszkanie na sprzedaż: Kraków Bibice Kasztanowa 6
                </span>
                <span class="cm-post-content-left-main">
                    Liczba pokoi: <b>5</b>
                </span>
                <span class="cm-post-content-left-main">
                    Liczba metrów2: <b>80</b>
                </span>
                <span class="cm-post-content-left-main">
                    Dodatkowe opcje:
                </span>
                <span class="cm-post-content-left-main ">
                    <li class="li-cm-post">garaż</li>
                    <li class="li-cm-post">ogród</li>
                </span>
                <span class="cm-post-content-left-main post-pad">
                    Cena: <b>350 000zł</b>
                </span>
            </div>
            <div class="cm-post-content-right">
                <img src="~/img/icon/heart.png" />

            </div>
        </div>
    </div>
    <div class="cm-post-render-more">
        <div class="cm-post-box">
            <img class="cm-post-box-img" src="~/img/prom/img5.jpg" />
        </div>
        <div class="cm-post-content">
            <div class="cm-post-content-left">
                <span class="cm-post-content-left-main">
                    Mieszkanie w centrum Krakowa
                </span>
                <span class="cm-post-content-left-main post-private">
                    Sprzedawca: GPALUCH123 (osoba prywatna)
                </span>
                <span class="cm-post-content-left-main">
                    Mieszkanie na sprzedaż: Kraków Bibice Kasztanowa 6
                </span>
                <span class="cm-post-content-left-main">
                    Liczba pokoi: <b>5</b>
                </span>
                <span class="cm-post-content-left-main">
                    Liczba metrów2: <b>80</b>
                </span>
                <span class="cm-post-content-left-main">
                    Dodatkowe opcje:
                </span>
                <span class="cm-post-content-left-main ">
                    <li class="li-cm-post">garaż</li>
                    <li class="li-cm-post">ogród</li>
                </span>
                <span class="cm-post-content-left-main post-pad">
                    Cena: <b>350 000zł</b>
                </span>
            </div>
            <div class="cm-post-content-right">
                <img src="~/img/icon/heart.png" />

            </div>
        </div>
    </div>
    <div class="cm-post-render-more">
        <div class="cm-post-box">
            <img class="cm-post-box-img" src="~/img/prom/img6.jpg" />
        </div>
        <div class="cm-post-content">
            <div class="cm-post-content-left">
                <span class="cm-post-content-left-main">
                    Mieszkanie w centrum Krakowa
                </span>
                <span class="cm-post-content-left-main post-private">
                    Sprzedawca: GPALUCH123 (osoba prywatna)
                </span>
                <span class="cm-post-content-left-main">
                    Mieszkanie na sprzedaż: Kraków Bibice Kasztanowa 6
                </span>
                <span class="cm-post-content-left-main">
                    Liczba pokoi: <b>5</b>
                </span>
                <span class="cm-post-content-left-main">
                    Liczba metrów2: <b>80</b>
                </span>
                <span class="cm-post-content-left-main">
                    Dodatkowe opcje:
                </span>
                <span class="cm-post-content-left-main ">
                    <li class="li-cm-post">garaż</li>
                    <li class="li-cm-post">ogród</li>
                </span>
                <span class="cm-post-content-left-main post-pad">
                    Cena: <b>350 000zł</b>
                </span>
            </div>
            <div class="cm-post-content-right">
                <img src="~/img/icon/heart.png" />

            </div>
        </div>
    </div>
    <div class="cm-post-render-more">
        <div class="cm-post-box">
            <img class="cm-post-box-img" src="~/img/prom/img7.jpg" />
        </div>
        <div class="cm-post-content">
            <div class="cm-post-content-left">
                <span class="cm-post-content-left-main">
                    Mieszkanie w centrum Krakowa
                </span>
                <span class="cm-post-content-left-main post-private">
                    Sprzedawca: GPALUCH123 (osoba prywatna)
                </span>
                <span class="cm-post-content-left-main">
                    Mieszkanie na sprzedaż: Kraków Bibice Kasztanowa 6
                </span>
                <span class="cm-post-content-left-main">
                    Liczba pokoi: <b>5</b>
                </span>
                <span class="cm-post-content-left-main">
                    Liczba metrów2: <b>80</b>
                </span>
                <span class="cm-post-content-left-main">
                    Dodatkowe opcje:
                </span>
                <span class="cm-post-content-left-main ">
                    <li class="li-cm-post">garaż</li>
                    <li class="li-cm-post">ogród</li>
                </span>
                <span class="cm-post-content-left-main post-pad">
                    Cena: <b>350 000zł</b>
                </span>
            </div>
            <div class="cm-post-content-right">
                <img src="~/img/icon/heart.png" />

            </div>
        </div>
    </div>
    <div class="cm-post-render-more">
        <div class="cm-post-box">
            <img class="cm-post-box-img" src="~/img/prom/img8.jpg" />
        </div>
        <div class="cm-post-content">
            <div class="cm-post-content-left">
                <span class="cm-post-content-left-main">
                    Mieszkanie w centrum Krakowa
                </span>
                <span class="cm-post-content-left-main post-private">
                    Sprzedawca: GPALUCH123 (osoba prywatna)
                </span>
                <span class="cm-post-content-left-main">
                    Mieszkanie na sprzedaż: Kraków Bibice Kasztanowa 6
                </span>
                <span class="cm-post-content-left-main">
                    Liczba pokoi: <b>5</b>
                </span>
                <span class="cm-post-content-left-main">
                    Liczba metrów2: <b>80</b>
                </span>
                <span class="cm-post-content-left-main">
                    Dodatkowe opcje:
                </span>
                <span class="cm-post-content-left-main ">
                    <li class="li-cm-post">garaż</li>
                    <li class="li-cm-post">ogród</li>
                </span>
                <span class="cm-post-content-left-main post-pad">
                    Cena: <b>350 000zł</b>
                </span>
            </div>
            <div class="cm-post-content-right">
                <img src="~/img/icon/heart.png" />

            </div>
        </div>
    </div>

</div>
