@page
@model CloudMainASP.Views.Home.wyswietlanieModel
@{
}

<div class="show-offer-main">
    <div class="show-offer-img">
        <div class="show-img-left">
            <div class="swiper mySwiper2">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide"><img src="~/img/prom/img1.jpg" /></div>
                    <div class="swiper-slide"><img src="~/img/prom/img2.jpg" /></div>
                    <div class="swiper-slide"><img src="~/img/prom/img3.jpg" /></div>
                    <div class="swiper-slide"><img src="~/img/prom/img4.jpg" /></div>

                </div>
            </div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper swiper-two">
                    <!-- Slides -->
                    <div class="swiper-slide"><img src="~/img/prom/img1.jpg" /></div>
                    <div class="swiper-slide"><img src="~/img/prom/img2.jpg" /></div>
                    <div class="swiper-slide"><img src="~/img/prom/img3.jpg" /></div>
                    <div class="swiper-slide"><img src="~/img/prom/img4.jpg" /></div>

                </div>
            </div>

        </div>
        <div class="show-im-right">
            <span class="show-offer-span">
                <h3>Domy Dębe Wielkie stan deweloperski bez pośrednika</h3>

            </span>
            <span class="show-offer-span">
                Bibice kasztanowa 6 32-087 Zielonki
            </span>
            <span class="show-offer-span">
                300 000 zł
            </span>



        </div>
       
        
    </div>
    <div class="show-offer-content">
        
        <span class="show-offer-span">
            <div class="show-offer-add-content">
                <span class="show-offer-adds">
                    <span class="show-offer-adds-under">
                        Powierzchnia
                    </span>
                    <span class="show-offer-adds-under under-two">
                        35m2
                    </span>
                </span>
                <span class="show-offer-adds">
                    <span class="show-offer-adds-under">
                        Powierzchnia
                    </span>
                    <span class="show-offer-adds-under under-two">
                        35m2
                    </span>
                </span>
                <span class="show-offer-adds">
                    <span class="show-offer-adds-under">
                        Powierzchnia
                    </span>
                    <span class="show-offer-adds-under under-two">
                        35m2
                    </span>
                </span>
                <span class="show-offer-adds">
                    <span class="show-offer-adds-under">
                        Powierzchnia
                    </span>
                    <span class="show-offer-adds-under under-two">
                        35m2
                    </span>
                </span>
                <span class="show-offer-adds">
                    <span class="show-offer-adds-under">
                        Powierzchnia
                    </span>
                    <span class="show-offer-adds-under under-two">
                        35m2
                    </span>
                </span>
                <span class="show-offer-adds">
                    <span class="show-offer-adds-under">
                        Powierzchnia
                    </span>
                    <span class="show-offer-adds-under under-two">
                        35m2
                    </span>
                </span>
                <span class="show-offer-adds">
                    <span class="show-offer-adds-under">
                        Powierzchnia
                    </span>
                    <span class="show-offer-adds-under under-two">
                        35m2
                    </span>
                </span>
                <span class="show-offer-adds">
                    <span class="show-offer-adds-under">
                        Powierzchnia
                    </span>
                    <span class="show-offer-adds-under under-two">
                        35m2
                    </span>
                </span>
            </div>
        </span>

        <span class="show-offer-span">

            <span class="show-offer-span-opis">
                Opis
            </span>
            <span class="show-offer-span-opis">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </span>
            <span class="show-offer-span-opis">
                Informacje dodatkowe
            </span>
            <div class="show-offer-opis-add">
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        Typ ogłoszenia
                    </span>
                    <span class="show-offer-span-opis-more">
                        prywatne
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        wyposazenie
                    </span>
                    <span class="show-offer-span-opis-more">
                        zmywarka
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        ogrzewanie
                    </span>
                    <span class="show-offer-span-opis-more">
                        gazowe
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        okna 
                    </span>
                    <span class="show-offer-span-opis-more">
                        drewniane
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        winda
                    </span>
                    <span class="show-offer-span-opis-more">
                        nie
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        informacje dodatkowe
                    </span>
                    <span class="show-offer-span-opis-more">
                        klimatyzacja
                    </span>
                </div>
            </div>
        </span>




</div>


</div>