@page
@model CloudMainASP.Views.Home.wyswietlanieModel
@{
}

<div class="show-offer-main">
    <div class="show-offer-img">
        <div class="show-img-left">
            <div class="swiper mySwiper2">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide"><img src="~/img/prom/img1.jpg" /></div>
                    <div class="swiper-slide"><img src="~/img/prom/img2.jpg" /></div>
                    <div class="swiper-slide"><img src="~/img/prom/img3.jpg" /></div>
                    <div class="swiper-slide"><img src="~/img/prom/img4.jpg" /></div>

                </div>
            </div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper swiper-two">
                    <!-- Slides -->
                    <div class="swiper-slide"><img src="~/img/prom/img1.jpg" /></div>
                    <div class="swiper-slide"><img src="~/img/prom/img2.jpg" /></div>
                    <div class="swiper-slide"><img src="~/img/prom/img3.jpg" /></div>
                    <div class="swiper-slide"><img src="~/img/prom/img4.jpg" /></div>

                </div>
            </div>

        </div>
        <div class="show-im-right">
            <span class="show-offer-span title-post ">
                <h3>Domy Dębe Wielkie stan deweloperski bez pośrednika</h3>

            </span>
            <span class="show-offer-span location-post">
                <i class="fas fa-search-location"></i>  Bibice kasztanowa 6 32-087 Zielonki
            </span>
            <span class="show-offer-span price-post">
                Kwota: 300 000 zł
            </span>
            <span class="show-offer-span-opis">
                Domy Dębe Wielkie to kameralna inwestycja skierowana do osób pragnących mieszkać w spokojnej okolicy z widokiem na las. Na naszą realizację składa się 6 wolnostojących domów jednorodzinnych. Każdy zlokalizowany na osobnej, regularnej działce o powierzchni 800m2. Na wszystkich posesjach przed dużym dwustanowiskowym garażem znajdują się miejsca postojowe.

                Kameralna inwestycja oznacza, że na miejscu powstanie jedynie 6 domów, wszystkie według indywidualnego projektu. Oferowane domy mają 258,82m2 powierzchni użytkowej plus tarasy zlokalizowane na dwóch poziomach o łącznej powierzchni ponad 100m2. Domy zostaną wykończone do stanu deweloperskiego: wszystkie instalacje, tynki, wylewki, z zewnątrz ogrodzenie, kostka na podjeździe (efekt widoczny na wizualizacjach).
            </span>



        </div>
       
        
    </div>
    <div class="show-offer-content">


        <span class="show-offer-span  offer-span-two">


            <span class="show-offer-span-opis">
                Opcje dodatkowe
            </span>
            <div class="show-offer-opis-add">
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        <i class="fas fa-parking post-icon"></i> Parking
                    </span>
                    <span class="show-offer-span-opis-more smalwidth">
                        TAK
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        <i class="fas fa-umbrella-beach post-icon"></i>  Balkon
                    </span>
                    <span class="show-offer-span-opis-more smalwidth">
                        Tak
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        <i class="fas fa-cube post-icon"></i> Piwnica
                    </span>
                    <span class="show-offer-span-opis-more smalwidth">
                        Tak
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        <i class="fas fa-campground post-icon"></i> Ogród
                    </span>
                    <span class="show-offer-span-opis-more smalwidth">
                        Tak
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        <i class="fas fa-torii-gate post-icon"></i>  Taras
                    </span>
                    <span class="show-offer-span-opis-more smalwidth">
                        Tak
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        <i class="fas fa-caret-square-up post-icon"></i> Winda
                    </span>
                    <span class="show-offer-span-opis-more smalwidth">
                        Tak
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        <i class="fas fa-chair post-icon"></i> Antrasola
                    </span>
                    <span class="show-offer-span-opis-more smalwidth">
                        Tak
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        <i class="fas fa-utensils post-icon"></i>  Oddzielna kuchnia
                    </span>
                    <span class="show-offer-span-opis-more smalwidth">
                        Tak
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        <i class="fas fa-fan post-icon"></i> Klimatyzacja
                    </span>
                    <span class="show-offer-span-opis-more smalwidth">
                        Tak
                    </span>
                </div>
            </div>
        </span>





        <span class="show-offer-span  offer-span-two">


            <span class="show-offer-span-opis">
                Informacje
            </span>
            <div class="show-offer-opis-add">
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                       Typ zabudowy:
                    </span>
                    <span class="show-offer-span-opis-more smalwidth-2">
                        Dom wolno stojący
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                         Sprzedawca:
                    </span>
                    <span class="show-offer-span-opis-more smalwidth-2">
                        Osoba prywatna
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        Powierzchnia
                    </span>
                    <span class="show-offer-span-opis-more smalwidth-2">
                        250m2
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        Piętra w ofercie:
                    </span>
                    <span class="show-offer-span-opis-more smalwidth-2">
                        2
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                       Do negocjacji:
                    </span>
                    <span class="show-offer-span-opis-more smalwidth-2">
                        Tak
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                       Data budowli:
                    </span>
                    <span class="show-offer-span-opis-more smalwidth-2">
                        2020r
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                       Ilość pięter w budynku: 
                    </span>
                    <span class="show-offer-span-opis-more smalwidth-2">
                        2
                    </span>
                </div>
                <div class="show-more-add">
                    <span class="show-offer-span-opis-more">
                        <a href="https://www.google.com/maps/place/Kasztanowa+6,+32-087+Bibice" class="google-button" ><i class="fas fa-map-marked-alt google-icon"></i>WYSZUKAJ NA GOOGLE MAPS</a>
                    </span>
                </div>
              
            </div>
        </span>






    </div>


</div>