@page
@using CloudMainASP.Areas.Identity.Pages.Account
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}



<div id="cm-login-main">
    <div class="cm-login-main-content">
        <form id="cm-login-form" method="post">
            <div class="cm-login-form-one">
                <img class="loginform-user-img" src="~/img/profile.png" />
                <div class="cm-form-icon">
                    <i class="far fa-user cm-form-icon-class"></i>
                    <input class="cm-login-form-class" asp-for="Input.Email" placeholder="Adres email" type="text">
                </div>
                <div class="cm-form-icon">
                    <i class="fas  fa-key cm-form-icon-class"></i>
                    <input class="cm-login-form-class" asp-for="Input.Password" placeholder="Hasło" type="Password">
                </div>
            </div>
            <div class="cm-form-box">
                <input class="cm-form-box-class" asp-for="Input.RememberMe" type="checkbox"> Zapamiętaj hasło
            </div>
            <input class="cm-form-button cm-form-login" type="submit" value="Zaloguj się">
            <a asp-page="./Register"><input class="cm-form-button cm-form-password" type="button" value="Zarejestruj się"></a>
            <p>
                <a id="cm-form-a" asp-page="./ResendEmailConfirmation">Zapomniałeś Hasło?</a>
            </p>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
